.box{
	margin-top: 150px;
	margin-left: 250px;
        }
.borda{
	width: 200px;
	height: 200px;
	border-width: 15px;
	border-style: solid;
	border-radius: 50%;
}
.um{
	border-color: blue;
}
.dois{
	margin-top:-15px;
    margin-left: 225px;
	border-color: black;
}
.tres{
	margin-top:-15px;
	margin-left: 225px;
	border-color: red;
}
.quatro{
	margin-left: 120px;
    margin-top: -90px;
	border-color: yellow;
}
.cinco{
    margin-top: -15px;
	margin-left: 225px;
	border-color: green;
}